* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0f172a;
}

span {
    position: absolute;
    background: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin linear infinite;
    z-index: -2;
  }
  
  span div {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
  }

  @keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
  
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
  }

#splashscreen {
}

.background-decoration {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-background {
  opacity: 0;
  text-transform: uppercase;
  font-size: 50vw;
  font-family: "Bangers", sans-serif;
  color: #0f172a;
  z-index: -1;
  position: fixed;
  left: -10%;
  top: 0%;
  -webkit-text-stroke: 5px #2e0139;
  user-select: none;
  transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
}

.text-background:nth-child(2) {
  z-index: -2;
  color: #56026b;
  -webkit-text-stroke: 0px;
  transform: rotate(-12deg);
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  -ms-transform: rotate(-12deg);
  -o-transform: rotate(-12deg);
}

.text-background:nth-child(3) {
  z-index: -3;
  color: #8905aa;
  -webkit-text-stroke: 0px;
  transform: rotate(-14deg);
  -webkit-transform: rotate(-14deg);
  -moz-transform: rotate(-14deg);
  -ms-transform: rotate(-14deg);
  -o-transform: rotate(-14deg);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#lottie-container {
  width: 200px;
  height: auto;
}


.text-behind {
  z-index: -1;
  opacity: 0;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  font-size: 50px;
  user-select: none;
}

.fade-in-text {
  animation: fade-in 2s ease-in-out forwards;
  animation-delay: 1.3s;
}
.fade-in-move {
  opacity: 0;
  animation: fade-in 2.5s ease-in-out forwards,
    move-right 2.5s ease-in-out forwards;
  -webkit-animation: fade-in 2.5s ease-in-out forwards,
    move-right 2.5s ease-in-out forwards;
}

.glass-button {
  opacity: 0;
  background-color: #56026b;
  outline: none;
  border: 0px;
  border-radius: 10px;
  padding: 12px 50px;
  width: max-content;
  font-family: "Bangers", cursive;
  color: #fff;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  user-select: none;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.glass-button:hover {
  background-color:#8905aa;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(125px);
    -webkit-transform: translateX(125px);
    -moz-transform: translateX(125px);
    -ms-transform: translateX(125px);
    -o-transform: translateX(125px);
  }
}
